.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg/second_bg.png) center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        text-align: left;
        margin-top: 80px;
    }
    .error {
        border: 1px solid $main-color;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #ffffff;
    }
}